*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}

img, media {
    max-width: 100%;
}

body { 
    background: url(profilexD.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.title h1{
    color: cyan;
    font-size: 70px;

}
